{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "react/jsx-no-undef": 0,
    "indent": ["warn", 2]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
