.input-form {
    align-items: center;
}

.form-fields {
    display: grid;
    margin: 10px;
    padding: 2px;

    .input-number {
        justify-self: center;
        width: 100px;
        border-style: solid;
        border-color: #ff7200;
        border-radius: 25px;
    }

    .input-text {
        justify-self: center;
        width: 100px;
        border-style: solid;;
        border-color: #ff7200;
        border-radius: 25px;
    }
}

label{
    margin: 10px;
}


button { 
    justify-self: center;
    width: 200px;
    height: 35px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 25px;
    background-color: #ff7200;
    color: white;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }
}

select{
    padding: 2px;
    margin-left: 10px;
}

.submit-button {
    width: 150px;
    height: 50px;
    padding: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
    justify-self: center;

    border: none;
    border-radius: 25px;
    background-color: #13B000;
    font-size: 15px;
    font-weight: 500;
    color: white;

    &:hover {
        cursor: pointer;
    }
}