.home-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

    .your-details {
        max-height: 750px;
        width: 350px;
        background-color: #6AABD2

        ;
        justify-self: center;
        display: inline-grid;
        // border-style: solid;
        // border-color: #ff7200;
        margin-bottom: 100px;

        .add-to-list-button {
            margin-bottom: 25px;
        }
    }

    .my-list {
        width: 350px;
        background-color: #6AABD2
        ;
        justify-self: center;
        // border-style: solid;
        // border-color: #ff7200;
        margin-bottom: 100px;
    }
}

@media (min-width: 300px) {
    .home-grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 900px) {
    .home-grid { grid-template-columns: repeat(2, 1fr); }
}


