.location-details {
    display: inline-grid;

    .option{
        padding: 2px;
        margin-bottom: 10px;
    }

    .option-bold{
        font-weight: bold;
        padding: 2px;
        margin-bottom: 10px;
    }
}