.location-details {
    display: inline-grid;
    color: white;
;

    .option{
        padding: 2px;
        margin-bottom: 10px;
    }

    .option-bold{
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px;
        margin-bottom: 10px;
        color: #385E72;
    }
}