
.list-item-container{
    overflow: auto;
    height: 650px
}

.list-item {
    position: relative;
    background-color: #B7CFDC;
    margin: 10px;
    padding: 16px;
}

.cross {
    position: absolute;
    padding-left: 20px;
    font-size: xx-large;
    color: #385E72;

    &:hover {
        cursor: pointer;
        color: red;
    }    
}
